:root {
  --accent-color: #2196f3;
  --main-color: #212121;
  --second-color: #757575;
  --third-color: #ffffff;
  --background-color: #c4c4c4;
  --footer-color: #2f303a;
  --logo-color: #000000;
  --button-color: #188ce8;
  --icons-color: #afb1b8;
  --social-color: rgba(255, 255, 255, 0.1);
  --contacts-color: rgba(255, 255, 255, 0.6);
  --gradient-color: rgba(47, 48, 58, 0.4);
  --activity-color: rgba(47, 48, 58, 0.8);
  --backdrop-color: rgba(0, 0, 0, 0.2);
  --container-color: #f5f4fa;
  --overlay-color: rgba(33, 150, 243, 0.9);
  --card-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  --btn-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  --portfolio-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
body {
  font-family: 'Roboto', sans-serif;
  color: var(--main-color);
}
h1,
h2,
h3,
p,
ul {
  margin-top: 0px;
  margin-bottom: 0px;
}
ul {
  padding-left: 0px;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/*=======HEADER=========*/
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}
.nav-header {
  display: flex;
  align-items: center;
}
.menu {
  display: flex;
  align-items: center;
}

.menu-item:not(:last-child) {
  margin-right: 50px;
}
.header-contacts {
  display: flex;
  align-items: center;
}
.logo-accent {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.header-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logo-color);
  margin-right: 93px;
}

.menu-link {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-link.current {
  color: var(--accent-color);
}
.menu-link.current::after {
  display: block;
  content: '';
  position: absolute;
  bottom: -33px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}
.header-contact {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-color);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contact:hover,
.header-contact:focus {
  color: var(--accent-color);
}
.icon-contact {
  margin-right: 10px;
  display: block;
  fill: var(--second-color);
}
.header-contact:hover .icon-contact,
.header-contact:focus .icon-contact {
  fill: var(--accent-color);
}

.contacts-item:not(:last-child) {
  margin-right: 50px;
}

/*=======END HEADER=========*/
/*=======HERO=========*/
.hero {
  background-color: var(--background-color);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  margin: auto;
  background-image: linear-gradient(var(--gradient-color), var(--gradient-color)),
    url(../images/hero/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.title-hero {
  width: 696px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--third-color);
}
.modal-btn {
  min-width: 200px;
  border-radius: 4px;
  padding: 10px 32px;
  border: 0px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--third-color);
  cursor: pointer;
  background-color: var(--accent-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--button-color);
}
/*=======END HERO=========*/

/*=======FEATURES=========*/

.features-list {
  display: flex;
}
.features-item {
  width: 270px;
}
.features-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background-color: var(--container-color);
  border-radius: 4px;
  margin-bottom: 30px;
}
.features-item:not(:last-child) {
  margin-right: 30px;
}
.features-subtitle {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.features-content {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-color);
}
/*=======END FEATURES=========*/

/*=======WHAT ARE WE DOING=========*/
.activity {
  padding-bottom: 94px;
}
.activity-item {
  position: relative;
  width: 370px;
}

.activity-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}
.activity-list {
  display: flex;
  justify-content: space-between;
}
.activity-content {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--third-color);
}
.activity-container {
  position: absolute;
  transform: translateY(-100%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;
  background-color: var(--activity-color);
}
/*=======END WHAT ARE WE DOING=========*/

/*=======OUR TEAM=========*/
.team {
  background-color: #f5f4fa;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}
.team-list {
  display: flex;
  margin-top: -30px;
  margin-left: -30px;
  flex-wrap: wrap;
}
.team-item {
  width: 270px;
  margin-top: 30px;
  margin-left: 30px;
}
.team-card {
  box-shadow: var(--card-shadow);
  border-radius: 0px 0px 4px 4px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.team-subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 10px;
}
.team-content {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--second-color);
  text-align: center;
  margin-bottom: 16px;
}
.social-list {
  display: flex;
  justify-content: center;
}
.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--icons-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-item:not(:last-child) {
  margin-right: 10px;
}
.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
  fill: var(--third-color);
}
/*=======END OUR TEAM=========*/
/*=======CUSTOMERS=======*/
.customers-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
.customers-list {
  display: flex;
  justify-content: space-between;
}
.customers-item {
  width: 170px;
  height: 92px;
}
.customers-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: var(--icons-color) 1px solid;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:hover,
.customers-link:focus {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}
.icon-customers {
  fill: var(--icons-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-link:hover .icon-customers,
.customers-link:focus .icon-customers {
  fill: var(--accent-color);
}
/*=======END CUSTOMERS=======*/
/*=======FOOTER=========*/
.footer {
  background-color: var(--footer-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-logo {
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--third-color);
  margin-bottom: 20px;
}
.footer-item:not(:last-child) {
  margin-bottom: 9px;
}
.address-link {
  display: inline-block;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--third-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-link:hover,
.address-link:focus {
  color: var(--accent-color);
}
.footer-contact {
  display: inline-block;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--contacts-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-contact:hover,
.footer-contact:focus {
  color: var(--accent-color);
}
.footer-content {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--third-color);
  margin-bottom: 20px;
}
.footer-container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.join-list {
  display: flex;
}
.footer-nav {
  margin-right: 70px;
}
.icon-join {
  fill: var(--third-color);
}
.join-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  background-color: var(--social-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.join-link:hover,
.join-link:focus {
  background-color: var(--accent-color);
}
.join-item:not(:last-child) {
  margin-right: 10px;
}
.footer-form {
  margin-left: 93px;
}
.footer-form-text {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--third-color);
  margin-bottom: 20px;
}
.footer-form-container {
  display: flex;
  align-items: center;
}
.footer-input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: inherit;
  padding-left: 16px;
  color: var(--third-color);
  outline: none;
  margin-right: 12px;
}
.footer-input::placeholder {
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  letter-spacing: 0.03em;
  color: var(--contacts-color);
}

.footer-btn {
  display: flex;
  align-items: center;
  min-width: 200px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0px;
  color: var(--third-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  padding: 10px 28px;
}
.footer-btn::after {
  content: '';
  margin-left: 10px;
  width: 24px;
  height: 24px;
  background-image: url(../images/send.svg);
}
/*=======END FOOTER=========*/
/*=======PORTFOLIO=========*/
.portfolio-filter {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

.filter-item:not(:last-child) {
  margin-right: 8px;
}
.filter-btn {
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  cursor: pointer;
  border-radius: 4px;
  background-color: #f5f4fa;
  color: var(--main-color);
  border: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-btn:hover,
.filter-btn:focus {
  color: var(--third-color);
  background-color: var(--accent-color);
  box-shadow: var(--btn-shadow);
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}
.portfolio-item {
  width: 370px;
  margin-top: 30px;
  margin-left: 30px;
}
.portfolio-img-overlay {
  position: relative;
  overflow: hidden;
}
.overlay {
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: var(--third-color);
  background-color: var(--overlay-color);
  padding: 63px 24px;
  position: absolute;
  overflow: auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-link {
  display: block;
  text-decoration: none;
  color: inherit;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: var(--portfolio-shadow);
}
.portfolio-link:hover .overlay,
.portfolio-link:focus .overlay {
  transform: translateY(0);
}
.project-card {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}
.portfolio-subtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}
.portfolio-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--second-color);
}

/*=======END PORTFOLIO=========*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--backdrop-color);
  transition: opacity 250ms linear, visibility 250ms linear;
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 528px;
  height: 581px;
  background-color: var(--third-color);
  transform: translate(-50%, -50%);
  padding: 40px;
}
.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--third-color);
  cursor: pointer;
  padding: 0;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-btn:hover,
.close-btn:focus {
  fill: var(--accent-color);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal-form {
  display: flex;
  flex-direction: column;
}
.modal-head {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}
.modal-field {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--second-color);
  margin-bottom: 10px;
}
.modal-field-message {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--second-color);
}
.modal-input-container {
  position: relative;
  display: block;
  margin-top: 4px;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus {
  outline: none;
  border-color: var(--accent-color);
}
.modal-input:focus ~ .icon-modal-form {
  fill: var(--accent-color);
}
.icon-modal-form {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-message {
  width: 100%;
  height: 120px;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 12px 16px;
  resize: none;
}
.modal-message::placeholder {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-message:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-checkbox-label::before {
  display: inline-block;
  content: '';
  width: 16px;
  height: 15px;
  background-image: url(../images/vector.svg);
  margin-right: 8px;
}
.modal-checkbox:checked ~ .modal-checkbox-label::before {
  display: inline-block;
  content: '';
  width: 16px;
  height: 15px;
  background-image: url(../images/check.svg);
}
.modal-checkbox:focus ~ .modal-checkbox-label::before {
  outline: 2px solid var(--accent-color);
}

.modal-checkbox-label {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--second-color);
  margin-top: 20px;
  margin-bottom: 30px;
}
.modal-label-link {
  color: var(--accent-color);
}
.modal-form-btn {
  align-self: center;
  min-width: 200px;
  border: 0px;
  padding: 10px 55px;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: Roboto;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--third-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.modal-form-btn:hover,
.modal-form-btn:focus {
  background-color: var(--button-color);
}
