.features__container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 450px;
  height: 120px;
  background-color: var(--container-color);
  border-radius: 4px;
  margin-bottom: 30px;
}

.features__subtitle {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.features__content {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-color);
}
@media screen and (max-width: 767px) {
  .features__subtitle {
    text-align: center;
  }
  .features__item {
    max-width: 450px;
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
}

@media screen and (min-width: 768px) {
  .features__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
  .features__item {
    width: 354px;
    margin-top: 30px;
    margin-left: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .features__list {
    display: flex;
    flex-wrap: nowrap;
  }
  .features__item {
    margin-top: 0;
    margin-left: 0;
    width: 270px;
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}
