.activity {
  padding-bottom: 94px;
}
.activity__item {
  position: relative;
  width: 370px;
}

.activity__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}
.activity__list {
  display: flex;
  justify-content: space-between;
}
.activity__content {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--third-color);
}
.activity__container {
  position: absolute;
  transform: translateY(-100%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;
  background-color: var(--activity-color);
}

@media screen and (max-width: 1199px) {
  .activity {
    display: none;
  }
}
