.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
body {
  font-family: 'Roboto', sans-serif;
  color: var(--main-color);
}
h1,
h2,
h3,
p,
ul {
  margin-top: 0px;
  margin-bottom: 0px;
}
ul {
  padding-left: 0px;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
