:root {
  --accent-color: #2196f3;
  --main-color: #212121;
  --second-color: #757575;
  --third-color: #ffffff;
  --background-color: #c4c4c4;
  --footer-color: #2f303a;
  --logo-color: #000000;
  --button-color: #188ce8;
  --icons-color: #afb1b8;
  --social-color: rgba(255, 255, 255, 0.1);
  --contacts-color: rgba(255, 255, 255, 0.6);
  --gradient-color: rgba(47, 48, 58, 0.4);
  --activity-color: rgba(47, 48, 58, 0.8);
  --backdrop-color: rgba(0, 0, 0, 0.2);
  --container-color: #f5f4fa;
  --overlay-color: rgba(33, 150, 243, 0.9);
  --card-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  --btn-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  --portfolio-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
